Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.tisarev.ru
RewriteRule (.*) http://tisarev.ru/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ http://tisarev.ru/ [R=301,L]

AddDefaultCharset UTF-8
ErrorDocument 404 /err404.html
